<footer>
    <div class="f-info">
        <div class="social-info">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
        </div>
        <div class="f-info-brand"><i class="fa-solid fa-copyright"></i>WanderLust private limited</div>
        <div class="f-info-links">

           <a href="">privacy</a>
           <a href="">Terms</a>
        </div>
    </div>
</footer>